.vs/
*.sln
*.vcxproj*

*.exe
*.exp
*.ilk
*.lib
*.pdb

obj/

#Because im using xcode instead of visual studio 2017
Project.xcconfig
cml-project.xcodeproj/
config.make
openFrameworks-Info.plist
Makefile